# These settings are synced to GitHub by https://probot.github.io/apps/settings/
_extends: .github

repository:
  name: dynamic-continuation-orb
  description: CircleCI orb for dynamically executed, directory-targeted workflows targeting code changes
  homepage: https://circleci.com/developer/orbs/orb/bjd2385/dynamic-continuation
  private: false

branches:
  - name: master
    protection:
      required_status_checks:
        strict: true
        contexts:
          - on-commit

      restrictions:
        users: []
        apps: []
        teams: []
